body {
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: "Nunito", sans-serif;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px cyan;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: cyan;
	border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: orange;
}

.topbar {
	/* border: 1px solid white; */
	width: 100%;
	position: fixed;
	display: flex;
	z-index: 2;
	top: 0px;
	align-items: center;
	border-radius: 7px;
	padding-left: 83px;
	padding-top: 17px;
}
.logocontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px solid white; */
}
.logo {
	font-family: "Lobster", sans-serif;
	font-size: 60px;
	color: cyan;
	font-weight: 700;
	cursor: pointer;
	transition: all 1s ease;

	&:hover {
		scale: 1.2;
	}
}

.linkscontainer {
	/* border: 1px solid yellow; */
	display: flex;
	margin-left: 510px;
	align-items: center;
	gap: 60px;
}

.btncontain {
	width: fit-content;
	height: 30px;
	/* background-color: blue; */
	/* border: 1px solid red; */
}
.navbuttons {
	border: 1px solid transparent;
	border-radius: 10px;
	padding: 5px;
	/* margin: 7px 40px; */
	font-size: 22px;
	font-weight: 800;
	color: white;
	transition: all 0.3s ease;

	&:hover {
		box-shadow: 0px 2px 2px cyan;
		transform: translateY(-10px);
	}
}
.navbuttons > a {
	text-decoration: none;
	color: white;
	padding: 15px 2px;

	&:hover {
		color: cyan;
	}
}

.mobilemenu {
	display: none;
}
#mmenu {
	display: none;
}

/* responsive */

@media only screen and (max-width: 768px) {
	::-webkit-scrollbar {
		display: none;
	}

	body {
		overflow-x: hidden;
overflow-y: hidden;
	}
	.maincontain{
		background-attachment: fixed;
		/* overflow-y: hidden; */
		
	}
	html {
		overflow-x: hidden;
		overflow-y: hidden;
		scroll-snap-type: none;
		
	}
	.linkscontainer {
		display: none;
	}

	.topbar {
		padding-top: 1px;
		padding-left: 30px;
		backdrop-filter: blur(15px);
	}
	.logo {
		font-size: 55px;
		padding-bottom: 5px;
	}
	#mmenu {
		position: absolute;
		color: white;
		display: flex;
		flex-direction: column;
		cursor: pointer;
		top: 20px;
		right: 40px;
		z-index: 2;
	}
	#mmenu2 {
		position: absolute;
		color: white;
		display: flex;
		flex-direction: column;
		cursor: pointer;
		top: 30px;
		right: 40px;
		z-index: 2;
	}

	#mmenu > div {
		width: 36px;
		height: 6px;
		border-radius: 6px;
		margin: 3px;
		background-color: transparent;
		backdrop-filter: blur(15px);
		box-shadow: inset 1px 1px 4px cyan;
	}

	.mobilemenu {
		/* border: 1px solid white; */
		position: absolute;
		top: 120px;
		left: 25px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		transition: all 0.5s ease;
		z-index: 2;
	}

	#mo1 {
		text-align: center;
		background-color: black;
		padding: 20px 110px;
		margin: 3px;
		text-decoration: none;
		color: white;
		font-size: 20px;
		box-shadow: inset 1px 1px 7px cyan;
		border-radius: 10px;
	}
	.optcontain0 {
		background-color: black;
	}

	.heroimage {
		z-index: 1;
		margin-right: 110px;
		scale: 0.8;
		margin-top: -55px;
	}
	.name {
		z-index: 1;
		margin-top: 30px;
	}
	#name1 > div {
		width: 240px;
	}

	.hero {
		flex-direction: column;
	}

	.aboutcontainer {
		flex-direction: column;
	}

	.abouthead {
		margin-top: 40px;
	}
	.profileimage {
		z-index: 1;
	}
	.aboutsection {
		margin-top: 15px;
		margin-right: -60px;
		margin-left: 20px;
		z-index: 1;
	}

	.skillcontain {
		flex-direction: column;
	}
	.skillcontain2 {
		margin-top: 400px;
		z-index: 1;
	}
	.skillsdesc {
		z-index: 1;
	}
	.skillright {
		scale: 0.75;
		margin-right: 90px;
		margin-top: -140px;
	}
	.leftcontain1 {
		align-items: center;
		justify-content: center;
		z-index: 1;
	}
	.rightcontain1 {
		z-index: 1;
	}

	.project1contain {
		flex-direction: column;
		margin-top: 520px;
		z-index: 1;
	}

	.projimg {
		scale: 0.56;
		margin-top: -70px;
	}

	.projectdesc1 {
		margin-top: -310px;
		margin-left: 20px;
		margin-right: -50px;
	}

	.project2contain {
		flex-direction: column;
	}

	.projimg2 {
		scale: 0.56;
	}
	.leftcontain2 {
		order: 2;
		z-index: 1;
	}
	.rightcontain2 {
		margin-top: -90px;
		order: 1;
		z-index: 1;
	}
	.projectdesc2 {
		margin-top: -70px;
		margin-right: 20px;
		margin-left: -40px;
	}
	.projectdesc3 {
		margin-top: -70px;
		margin-left: 20px;
		margin-right: -50px;
	}

	.project3contain {
		flex-direction: column;
	}
	.leftcontain3 {
		margin-top: -310px;
		z-index: 1;
	}
	.rightcontain3 {
		z-index: 1;
	}

	.contactcontain {
		flex-direction: column;
		margin-top: -520px;
	}
	.conform {
		scale: 0.9;

		/* z-index: 1; */
	}
	.contactright {
		margin-left: 0px;
		margin-top: -40px;
	}

	.footcontain {
		margin-top: 290px;
	}
}
