::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px cyan;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: cyan;
	border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: white;
}

#hero {
	/* border: 2px solid white; */
	flex: 1;
	/* padding-left: 50px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	scroll-snap-align: center;
	scroll-behavior: smooth;
	/* padding-left: 50px; */
}
.mainwrap {
	/* border: 1px solid white; */
	display: flex;
	/* margin-left: 50px; */

	align-items: center;
	justify-content: center;
}
.name {
	/* border: 1px solid white; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 43px;
	font-weight: 600;
	transition: all 0.4s ease;
	/* text-align: center; */
	flex-wrap: wrap;
}
.name > div:nth-child(1) {
	/* border: 1px solid white; */
	backdrop-filter: blur(40px);
	padding: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
	border-radius: 10px;
	&:hover {
		transform: translateY(-10px);
	}
}
.name2 {
	/* text-align: center; */
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	/* border: 1px solid yellow; */
	text-wrap: wrap;
	transition: all 0.4s ease;
	border: 1px solid transparent;
	padding: 13px;
	border-radius: 13px;

	cursor: pointer;
	animation: rgbanimate 1s infinite linear;
}

@keyframes rgbanimate {
	0% {
		background: linear-gradient(black, black) padding-box,
			linear-gradient(
					0deg,
					rgba(34, 193, 195, 1) 0%,
					rgba(253, 187, 45, 1) 100%
				)
				border-box;
	}
	25% {
		background: linear-gradient(black, black) padding-box,
			linear-gradient(
					45deg,
					rgba(34, 193, 195, 1) 0%,
					rgba(253, 187, 45, 1) 25%,
					rgba(131, 58, 180, 1) 50%,
					rgba(253, 29, 29, 1) 75%,
					rgba(252, 176, 69, 1) 100%
				)
				border-box;
	}
	50% {
		background: linear-gradient(black, black) padding-box,
			linear-gradient(
					90deg,
					rgba(131, 58, 180, 1) 0%,
					rgba(253, 29, 29, 1) 50%,
					rgba(252, 176, 69, 1) 100%
				)
				border-box;
	}
	75% {
		background: linear-gradient(black, black) padding-box,
			linear-gradient(
					135deg,
					rgba(252, 176, 69, 1) 0%,
					rgba(253, 29, 29, 1) 25%,
					rgba(131, 58, 180, 1) 50%,
					rgba(34, 193, 195, 1) 75%,
					rgba(253, 187, 45, 1) 100%
				)
				border-box;
	}
	100% {
		background: linear-gradient(black, black) padding-box,
			linear-gradient(
					0deg,
					rgba(34, 193, 195, 1) 0%,
					rgba(253, 187, 45, 1) 100%
				)
				border-box;
	}
}
.mainarrhref {
	text-decoration: none;
	color: inherit;
}
.mainarrow {
	color: cyan;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	/* border: 1px solid white; */
	&:hover {
		color: white;
	}
}
.arrow1 {
	animation: arrowBounce 1s infinite linear 1s;
}

.arrow2 {
	animation: arrowBounce 1s infinite linear 2s;
}

.arrow3 {
	animation: arrowBounce 1s infinite linear 3s;
}

@keyframes arrowBounce {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(10px);
	}
}

.cscreen {
	/* border: 1px solid white; */
	transition: all 0.4s ease;
}
