html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

#home {
	scroll-snap-align: center;
	/* height: 100vh; */
	overscroll-behavior-block: contain;
}



.background {
	position: absolute;
	
	display: flex;
	background-color: black;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
}
.circle1 {
	width: 9px;
	height: 9px;
	position: absolute;
	top: 10px;
	right: -190px;
	border-radius: 50%;
	z-index: 1;
	transition: all 2s ease;
	background: linear-gradient(black, black) padding-box,
		linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%)
			border-box;
	border: 2px solid transparent;
	animation: bganimate1 10s infinite linear;
}
@keyframes bganimate1 {
	0% {
		transform: translate(0px, 20px);
	}
	100% {
		transform: translate(-800px, 3000px);
	}
}
.circle2 {
	width: 5px;
	height: 5px;
	position: absolute;
	top: 10px;
	right: 110px;
	border-radius: 50%;
	z-index: 1;
	transition: all 2s ease;
	background: linear-gradient(black, black) padding-box,
		linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%)
			border-box;
	border: 2px solid transparent;
	animation: bganimate2 13s infinite linear;
}
@keyframes bganimate2 {
	0% {
		transform: translate(10px, 20px);
	}
	100% {
		transform: translate(-900px, 2000px);
	}
}
.circle3 {
	width: 8px;
	height: 8px;
	position: absolute;
	top: 10px;
	right: 510px;
	border-radius: 50%;
	z-index: 1;
	transition: all 2s ease;
	background: linear-gradient(black, black) padding-box,
		linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%)
			border-box;
	border: 2px solid transparent;
	animation: bganimate3 20s infinite linear;
}
@keyframes bganimate3 {
	0% {
		transform: translate(30px, 20px);
	}
	100% {
		transform: translate(-1100px, 2000px);
	}
}
.circle4 {
	width: 9px;
	height: 9px;
	position: absolute;
	top: 10px;
	right: 710px;
	border-radius: 50%;
	z-index: 1;
	transition: all 2s ease;
	background: linear-gradient(black, black) padding-box,
		linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%)
			border-box;
	border: 2px solid transparent;
	animation: bganimate4 25s infinite linear;
}
@keyframes bganimate4 {
	0% {
		transform: translate(60px, 20px);
	}
	100% {
		transform: translate(-1300px, 2000px);
	}
}

.circle5 {
	width: 9px;
	height: 9px;
	position: absolute;
	top: 10px;
	right: 410px;
	border-radius: 50%;
	z-index: 1;
	transition: all 2s ease;
	background: linear-gradient(black, black) padding-box,
		linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%)
			border-box;
	border: 2px solid transparent;
	animation: bganimate4 30s infinite linear;
}
.circle6 {
	width: 9px;
	height: 9px;
	position: absolute;

	right: -330px;
	border-radius: 50%;
	z-index: 1;
	transition: all 2s ease;
	background: linear-gradient(black, black) padding-box,
		linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%)
			border-box;
	border: 2px solid transparent;
	animation: bganimate2 10s infinite linear;
}

.hero {
	padding-top: 100px;
	/* border: 1px solid white; */
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
}
.name {
	/* border: 1px solid white; */
	display: flex;
	flex-direction: column;
	color: cyan;
	font-size: 40px;
	font-weight: 800;
	align-items: center;
	transition: all 0.5s ease;
	

	justify-content: center;
	padding: 25px 80px;
}
.typeanimation {
	transition: all 0.5s ease;
	padding: 10px 20px;
}
#name1 {
	width: 400px;
	
	/* border: 1px solid white; */
text-align: center;
	display: flex;
	flex-direction: column;
	font-size: 40px;
	font-weight: 700;
	color: white;

	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
}

@keyframes rgbanimate {
	0% {
		background: linear-gradient(black, black) padding-box,
			linear-gradient(
					0deg,
					rgba(34, 193, 195, 1) 0%,
					rgba(253, 187, 45, 1) 100%
				)
				border-box;
	}
	50% {
		background: linear-gradient(black, black) padding-box,
			linear-gradient(
				90deg,
				rgba(131, 58, 180, 1) 0%,
				rgba(253, 29, 29, 1) 50%,
				rgba(252, 176, 69, 1) 100%
			);
	}
	100% {
		background: linear-gradient(black, black) padding-box,
			linear-gradient(
					0deg,
					rgba(34, 193, 195, 1) 0%,
					rgba(253, 187, 45, 1) 100%
				)
				border-box;
	}
}

#name1 > div {
	/* border: 1px solid white; */
	height: 110px;
	padding: 11px 8px ;
	transition: all 1s ease;
	animation: rgbanimate 3s ease infinite;
	background: linear-gradient(black, black) padding-box,
		linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%)
			border-box;
	border: 2px solid transparent;
	border-radius: 8px;

	&:hover {
		transform: translateX(-3px);
		transform: translateY(-3px);
	}
}
.heroimage {
	font-size: 40px;
	/* border: 1px solid white; */
	
	margin-left: 120px;
}

.imgcontain > div {
	position: absolute;
}
