.firstcontain{
    /* border: 1px solid white; */
   padding-left: 100px;
   background-image: url("./images/bg8.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}


.secondcontain{
    display: flex;
    
    /* background-color: white; */
}